
<form class="" action="index.html" method="post">

<label for="user[username]">
  Username
  <input type="text" name="user[username]" value="Username">
</label>
<br>

<label for="user[password]">
  Password
  <input type="password" name="user[password]" value="Password">
</label>
<br>

<input type="submit" name="name" value="Log In">
</form>
