var React = require('react');

var UploadPictureButton = React.createClass({
  handleUploadPicture: function (e) {
    e.preventDefault();

    var options = {
      cloud_name: '<%= ENV["cloud_name"] %>',
      upload_preset: '<%= ENV["upload_preset"] %>'
    };

    cloudinary.openUploadWidget(
      options,
      function (error, result) {
        if (result.length > 1) {
          console.log("Too many photos");
        } else {
          this.props.savePhotoUrl(result[0].url.slice(61));
        }
    }.bind(this));
  },
  render: function () {
    return (
      <div>
        <a href="#"
          className="upload-picture-button"
          onClick={this.handleUploadPicture}>Upload Picture</a>
      </div>
    )
  }
});

module.exports = UploadPictureButton;
