<div class="signup">

  <h2 class="signup-header">Sign Up</h2>

  <%= link_to "Log In", new_session_url %>

  <div class="signup-background">

  </div>

  <form class="signup-form" action="<%= users_url %>" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label for="user[username]">
    Username
    <input class="signup-username" type="text" name="user[username]">
  </label>
  <br>

  <label for="user[password]">
    Password
    <input class="signup-password" type="password" name="user[password]">
  </label>
  <br>

  <input class="signup-submit" type="submit" name="name" value="Sign Up">
  </form>
</div>
