<div class="login">
  <div class="login-form-box sign-up">
    <form class="login-form sign-up" action="<%= users_url %>" method="post">
      <h2 class="login-header sign-up">Dogstagram</h2>

      <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

      <div class="error sign-up">
        <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
      </div>

        <input placeholder="Username" type="text" name="user[username]">
        <input placeholder="Password" type="password" name="user[password]">
        <input class="login-submit" type="submit" value="Sign Up">

      <div class="sign-up-link login">
        <p>Have an account? <a href="/session/new">Click here</a> to login.</p>
      </div>
    </form>
  </div>
</div>
