.delete-post {
  background-image: url("https://instagramstatic-a.akamaihd.net/h1/sprites/core/6f2033.png");
  background-position: -494px -373px;
  height: 44px;
  width: 44px;
  bottom: 10px;
  right: 0px;
}
