.ReactModal__Overlay {
  -webkit-perspective: 600;
  position: fixed;
  perspective: 600;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  display: flex;
  width: 30%;
  height: 50%;
  min-width: 500px;
  min-height: 450px;
  background: #FFF;
  padding: 20px;
  border: 1px solid #CCC;
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.confirm-delete {
  background: #FFF;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 44px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1px;
  color: #F12938;
}

.cancel-delete {
  background: #FFF;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 44px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1px;
  color: #125688;
}

.cancel-delete:hover, .confirm-delete:hover {
  background: #EDEEEE;
}

.modal-comment-field {
  border: 2px solid #EDEEEE;
  font-size: 14px
}

.upload-modal-button {
  transition: background-color ease-in-out 0.5s;
  width: 250px;
  color: white;
  background-color: #4090DB;
  border-color: #4090DB;
  height: 34px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px;
}

.upload-modal-button:hover {
  background-color: #2D6599;
  border-color: #2D6599;
}

.upload-field {
  background-color: #FFF;
  opacity: 0.6;
  background-image: url(http://res.cloudinary.com/dsolojfgkabc/image/upload/funny-dog-head_nb34ou.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #EDEEEE;
  display: flex;
  justify-content: center;
  height: 250px;
  width: 300px;
}

.upload-field.opacity {
  background-image: none;
  opacity: 1;
}

.cloudinary-thumbnails.margin {
  margin: auto;
}

.cloudinary-thumbnail.margin {
  margin: auto;
}

.modal.picture {
  border: none;
}

body {
  background:#000;
}

.modal-button {
    cursor: pointer;
    display: block;
    height: 36px;
    min-height: auto;
    min-width: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 39.5156px;
    z-index: 2;
    perspective-origin: 19.75px 18px;
    transform-origin: 19.75px 18px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 11px / normal proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.modal-button:before {
    color: rgba(0, 0, 0, 0.5);
    content: '×';
    cursor: pointer;
    display: block;
    height: 36px;
    width: 27.5156px;
    align-self: flex-start;
    perspective-origin: 13.75px 18px;
    transform-origin: 13.75px 18px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 36px / 36px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.modal-post-show {
  background-color: #FFFFFF;
  height: 600px;
  width: 335px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.modal-post-show .comment-box {
  min-height: 515px;
  max-height: 515px;
}

.modal-post-show .comment-table {
  max-height: 397px;
  overflow-x: hidden;
  justify-content: flex-start;
}

.modal-post-show > header {
  border-bottom: 1px solid #EEE;
  margin: 0px 10px;
}

.modal-post-show div, modal-post-show .comment-form, modal-post-show span.num-likes {
  width: 295px;
  align-self: flex-end;
}

.modal-post-show .comment-table {
  border-bottom: none;
  -webkit-border-after: none;
}

.modal-post-show .like-button-div, .modal-post-show .comment-form {
    position: absolute;
    bottom: 0;
}

.modal-post-show .like-button-div {
  border-top: 1px solid #EEE;
  -webkit-border-before: 1px solid #EEE;
}

.modal-post-show .comment-field {
  left: 48px;
  bottom: 26px;
  width: 200px;
}

.modal-post-show .post-header-picture {
  left: 10px;
}

.modal-post-show .username {
  left: 16%;
  top: -4px;
}

.modal-post-show .timestamp {
  position: absolute;
  top: 26px;
}

.modal.picture {
  height: 600px;
  width: 600px;
  background-color: #EDEEEE;
}
