.ReactModal__Overlay {
  -webkit-perspective: 600;
  position: fixed;
  perspective: 600;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  display: flex;
  width: 30%;
  height: 40%;
  background: #FFF;
  padding: 20px;
  border: 1px solid #CCC;
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.modal-comment-div {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 0px;
}

.modal-comment-field {
  position: static;
  text-align: center;
}
