.ReactModal__Overlay {
  -webkit-perspective: 600;
  position: fixed;
  perspective: 600;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  display: flex;
  width: 30%;
  height: 50%;
  min-width: 500px;
  min-height: 450px;
  background: #FFF;
  padding: 20px;
  border: 1px solid #CCC;
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.confirm-delete {
  background: #FFF;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 44px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1px;
  color: #F12938;
}

.cancel-delete {
  background: #FFF;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 44px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1px;
  color: #125688;
}

.modal-comment-field {
  border: 2px solid #EDEEEE;
  font-size: 14px
}

.upload-modal-button {
  transition: background-color ease-in-out 0.5s;
  width: 250px;
  color: white;
  background-color: #4090DB;
  border-color: #4090DB;
  height: 34px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px;
}

.upload-modal-button:hover {
  background-color: #2D6599;
  border-color: #2D6599;
}

.upload-field {
  background-color: #FFF;
  opacity: 0.6;
  background-image: url(http://res.cloudinary.com/dsolojfgkabc/image/upload/funny-dog-head_nb34ou.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #EDEEEE;
  display: flex;
  justify-content: center;
  height: 250px;
  width: 300px;
}

.upload-field.opacity {
  background-image: none;
  opacity: 1;
}

.cloudinary-thumbnails.margin {
  margin: auto;
}

.cloudinary-thumbnail.margin {
  margin: auto;
}
