// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.signup {
  background-color: rgba(255,255,255,0.4);
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.login {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.login-form-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 370px;
  width: 350px;
  border-radius: 1px;
  border: none;
  background-color: rgba(0,0,0,0.4);
  margin: auto;
}

.login-form-box.sign-up {
  justify-content: space-between;
  height: 300px;
}

.login-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 370px;
  width: 350px;
  border-radius: 1px;
  background-color: none;
  margin: auto;
}

.login-form > * {
  display: block;
  margin: 5px;
}

.login-form.sign-up > input {
  background-color: #fdfdfd;
  border: 1px solid #edeeee;
  border-radius: 3px;
  font-size: 14px;
  padding: 9px 8px 7px;
  position: relative;
  top: 30px;
  width: 268px;
  font-family: Arial, sans-serif;
}

.login-form > input {
  background-color: #fdfdfd;
  border: 1px solid #edeeee;
  border-radius: 3px;
  font-size: 14px;
  padding: 9px 8px 7px;
  width: 268px;
  font-family: Arial, sans-serif;
}

.login-header {
  color: #F7F7F7;
  font: normal normal normal normal 46px / normal 'Lobster Two';
  position: relative;
  bottom: 22px;
}

.login-header.sign-up {
  bottom: 24px;
}

.login-form > input.login-submit {
  transition: background-color ease-in-out 0.5s;
  width: 286px;
  color: white;
  background-color: #4090DB;
  border-color: #4090DB;
}

.login-form > input.login-submit:hover {
  background-color: #2D6599;
  border-color: #2D6599;
}

.guest-login-submit {
  transition: background-color ease-in-out 0.5s;
  position: relative;
  bottom: 67px;
  left: 1px;
  width: 286px;
  color: white;
  background-color: #4090DB;
  border-color: #4090DB;
  border: 1px;
  border-radius: 3px;
  font-size: 14px;
  padding: 9px 8px 7px;
  font-family: Arial, sans-serif;
}

.guest-login-submit:hover {
  background-color: #2D6599;
  border-color: #2D6599;
}

.login-divider {
  box-sizing: border-box;
  display: flex;
  height: 15px;
  min-height: auto;
  min-width: auto;
  position: relative;
  width: 268px;
  perspective-origin: 134px 7.5px;
  transform-origin: 134px 7.5px;
  border: 0px solid rgb(0, 0, 0);
  flex: 0 0 auto;
  font-size: 16px;
  margin: 5px 40px 8px;
}

.divider-line {
  box-sizing: border-box;
  display: flex;
  height: 1px;
  min-height: auto;
  min-width: auto;
  position: relative;
  width: 116.953px;
  perspective-origin: 58.4688px 0.5px;
  transform-origin: 58.4688px 0.5px;
  background: rgb(237, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px solid rgb(0, 0, 0);
  flex: 1 1 auto;
  flex-flow: column nowrap;
  font-size: 16px;
  margin: 7px 0px;
}

.or {
  box-sizing: border-box;
  color: #F7F7F7;
  display: flex;
  height: 15px;
  min-height: auto;
  min-width: auto;
  position: relative;
  text-transform: uppercase;
  width: 18.1094px;
  perspective-origin: 9.04688px 7.5px;
  transform-origin: 9.04688px 7.5px;
  border: 0px solid rgb(0, 0, 0);
  flex: 0 0 auto;
  font-family: sans-serif;
  font-size: 14px;
  flex-flow: column nowrap;
  margin: 0px 8px;
  outline: rgb(165, 167, 170) none 0px;
}

.error {
  display: flex;
  z-index: 1;
  top: 26%;
  right: 21%;
  position: absolute;
  color: #F12938;
  font-size: 14px;
  font-family: sans-serif;
}

.error.sign-up {
  right: 7%;
  top: 74px;
}

.sign-up-link {
  display: flex;
  position: relative;
  justify-content: center;
  left: 0px;
  bottom: -1px;
  background: none;
  font-family: sans-serif;
  font-size: 13px;
  height: 40px;
  width: 350px;
  align-items: inherit;
}

.sign-up-link.login {
  border-bottom: none;
  position: relative;
  top: 26px;
}

.sign-up-link > p {
  color: #F7F7F7;
}

.sign-up-link > p > a {
  color: #FFEFEF;
  text-shadow: 1px 1px 1px black;
  position: relative;
  bottom: 1px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.bg-1 {
  background: url(http://res.cloudinary.com/dsolojfgkabc/image/upload/f_auto,q_auto/photo-1415243931302-9eb5b22247f2_udfxlo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
