// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.index {
  align-items: stretch;
  font-size: 16px;
  width: 600px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  vertical-align: baseline;
  border-image-width: 1;
  border-image-repeat: stretch;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
}

.post {
  background-color: #FFF;
  border: 1px solid #edeeee;
  border-radius: 3px;
  margin-bottom: 60px;
  margin-left: -1px;
  margin-right: -1px;
}

.post-header {
  height: 64px;
  padding: 14px, 20px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  color: #125688;
}

.post-header a, a:visited {
  color: #125688;
}

.picture {
  border-top: 1px solid #eeefef;
  border-bottom: 1px solid #eeefef;
  box-shadow: inset 0px 0px 20px 0px #edeeee;
}

.comment-box {
  padding: 0px 24px;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  align-items: stretch;
}

.username {
  display: inline-block;
  position: relative;
  left: 3%;
  top: 23px;
}

.timestamp {
  display: inline-block;
  position: relative;
  left: 77%;
  top: 23px;
}

.comment-body {
  display: inline-block;
  position: relative;
  left: 4px;
}

.comment-username {
  display: inline-block;
  color: #125688;
  position: relative;
  right: 1%;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
}

.nav-header {
  cursor: default;
  display: block;
  height: 88px;
  perspective-origin: 641px 44.5px;
  transform-origin: 641px 44.5px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  border-bottom: 1px solid rgb(238, 238, 238);
  font: normal normal normal normal 16px / normal Times;
  -webkit-border-after: 1px solid rgb(238, 238, 238);
  -webkit-transform-origin: 641px 44.5px;
}

.nav {
  height: 88px;
  width: 600px;
  perspective-origin: 300px 44px;
  transform-origin: 300px 44px;
  font: normal normal normal normal 16px / normal Times;
  margin: 0px auto;
  -webkit-transform-origin: 300px 44px;
}

.nav:after {
  clear: both;
  content: "";
  display: block;
  width: 600px;
  perspective-origin: 300px 0px;
  transform-origin: 300px 0px;
  -webkit-transform-origin: 300px 0px;
}

.logo-header {
  color: rgb(45, 101, 153);
  float: left;
  height: 23px;
  width: 81.9375px;
  -webkit-column-rule-color: rgb(45, 101, 153);
  perspective-origin: 40.9688px 41.5px;
  -webkit-text-emphasis-color: rgb(45, 101, 153);
  -webkit-text-fill-color: rgb(45, 101, 153);
  -webkit-text-stroke-color: rgb(45, 101, 153);
  transform-origin: 40.9688px 41.5px;
  border: 0px none rgb(45, 101, 153);
  font: normal normal normal normal 18px / normal 'Lobster Two';
  margin: 0px;
  outline: rgb(45, 101, 153) none 0px;
  padding: 30px 0px;
  -webkit-border-after: 0px none rgb(45, 101, 153);
  -webkit-border-before: 0px none rgb(45, 101, 153);
  -webkit-border-end: 0px none rgb(45, 101, 153);
  -webkit-border-start: 0px none rgb(45, 101, 153);
  -webkit-transform-origin: 40.9688px 41.5px;
}

.logo {
  color: rgb(45, 101, 153);
  text-decoration: none;
  -webkit-column-rule-color: rgb(45, 101, 153);
  -webkit-text-decorations-in-effect: none;
  -webkit-text-emphasis-color: rgb(45, 101, 153);
  -webkit-text-fill-color: rgb(45, 101, 153);
  -webkit-text-stroke-color: rgb(45, 101, 153);
  border: 0px none rgb(45, 101, 153);
  font: normal normal normal normal 18px / normal 'Lobster Two';
  outline: rgb(45, 101, 153) none 0px;
  -webkit-border-after: 0px none rgb(45, 101, 153);
  -webkit-border-before: 0px none rgb(45, 101, 153);
  -webkit-border-end: 0px none rgb(45, 101, 153);
  -webkit-border-start: 0px none rgb(45, 101, 153);
}

.search {
  float: left;
  height: 28px;
  width: 192px;
  perspective-origin: 96px 44px;
  transform-origin: 96px 44px;
  font: normal normal normal normal 16px / normal Times;
  margin: 0px 0px 0px 120px;
  padding: 30px 0px;
  -webkit-transform-origin: 96px 44px;
}

.search-field {
  box-sizing: content-box;
  height: 16px;
  text-align: center;
  width: 180px;
  -webkit-appearance: none;
  perspective-origin: 96px 14px;
  transform-origin: 96px 14px;
  background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 15px 15px 15px 15px;
  font: normal normal normal normal 14px / normal Helvetica;
  padding: 5px;
  -webkit-border-after: 1px solid rgb(238, 238, 238);
  -webkit-border-before: 1px solid rgb(238, 238, 238);
  -webkit-border-end: 1px solid rgb(238, 238, 238);
  -webkit-border-start: 1px solid rgb(238, 238, 238);
  -webkit-transform-origin: 96px 14px;
}

.search-field:focus {
  outline: 0;
}

.nav-right {
  color: rgb(18, 86, 136);
  cursor: default;
  float: right;
  height: 24px;
  width: 120px;
  -webkit-column-rule-color: rgb(18, 86, 136);
  perspective-origin: 39.0469px 42px;
  -webkit-text-emphasis-color: rgb(18, 86, 136);
  -webkit-text-fill-color: rgb(18, 86, 136);
  -webkit-text-stroke-color: rgb(18, 86, 136);
  transform-origin: 39.0469px 42px;
  border: 0px none rgb(18, 86, 136);
  font: normal normal bold normal 12px / normal Montserrat;
  outline: rgb(18, 86, 136) none 0px;
  padding: 30px 0px;
  -webkit-border-after: 0px none rgb(18, 86, 136);
  -webkit-border-before: 0px none rgb(18, 86, 136);
  -webkit-border-end: 0px none rgb(18, 86, 136);
  -webkit-border-start: 0px none rgb(18, 86, 136);
  -webkit-transform-origin: 39.0469px 42px;
}

.nav-right:after {
  clear: both;
  color: rgb(18, 86, 136);
  content: '';
  cursor: default;
  display: block;
  width: 78.1094px;
  -webkit-column-rule-color: rgb(18, 86, 136);
  perspective-origin: 39.0469px 0px;
  -webkit-text-emphasis-color: rgb(18, 86, 136);
  -webkit-text-fill-color: rgb(18, 86, 136);
  -webkit-text-stroke-color: rgb(18, 86, 136);
  transform-origin: 39.0469px 0px;
  border: 0px none rgb(18, 86, 136);
  font: normal normal bold normal 12px / normal Montserrat;
  outline: rgb(18, 86, 136) none 0px;
  -webkit-border-after: 0px none rgb(18, 86, 136);
  -webkit-border-before: 0px none rgb(18, 86, 136);
  -webkit-border-end: 0px none rgb(18, 86, 136);
  -webkit-border-start: 0px none rgb(18, 86, 136);
  -webkit-transform-origin: 39.0469px 0px;
}

.header-profile-link {
  color: rgb(18, 86, 136);
  display: inline-block;
  float: left;
  height: 15px;
  text-decoration: none;
  position: relative;
  bottom: 24px;
  left: 24px;
  width: 34.1094px;
  -webkit-column-rule-color: rgb(18, 86, 136);
  perspective-origin: 17.0469px 7.5px;
  -webkit-text-decorations-in-effect: none;
  -webkit-text-emphasis-color: rgb(18, 86, 136);
  -webkit-text-fill-color: rgb(18, 86, 136);
  -webkit-text-stroke-color: rgb(18, 86, 136);
  transform-origin: 17.0469px 7.5px;
  border: 0px none rgb(18, 86, 136);
  font: normal normal bold normal 12px / normal Montserrat;
  margin: 5px 0px 0px 20px;
  outline: rgb(18, 86, 136) none 0px;
  -webkit-border-after: 0px none rgb(18, 86, 136);
  -webkit-border-before: 0px none rgb(18, 86, 136);
  -webkit-border-end: 0px none rgb(18, 86, 136);
  -webkit-border-start: 0px none rgb(18, 86, 136);
  -webkit-transform-origin: 17.0469px 7.5px;
  line-height: 18px;
  font-weight: 600;
  font-size: 15px;
}

#root {
  background-color: #FAFAFA;
}
