// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.index {
  align-items: stretch;
  font-size: 16px;
  width: 600px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  vertical-align: baseline;
  border-image-width: 1;
  border-image-repeat: stretch;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
}

.post {
  background-color: #FFF;
  border: 1px solid #edeeee;
  border-radius: 3px;
  margin-bottom: 60px;
  margin-left: -1px;
  margin-right: -1px;
}

.post-header {
  height: 64px;
  padding: 14px, 20px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  color: #125688;
}

.post-header a, a:visited {
  color: #125688;
}

.picture {
  border-top: 1px solid #eeefef;
  border-bottom: 1px solid #eeefef;
  box-shadow: inset 0px 0px 20px 0px #edeeee;
}

.comment-box {
  padding: 0px 24px;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  align-items: stretch;
}

.username {
  display: inline-block;
  position: relative;
  left: 3%;
  top: 23px;
}

.timestamp {
  display: inline-block;
  position: relative;
  left: 77%;
  top: 23px;
}

.comment-body {
  display: inline-block;
  position: relative;
  left: 4px;
}

.comment-username {
  display: inline-block;
  color: #125688;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
}

#root {
  background-color: #fafafa;
}
