// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.nav-header {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.nav {
  height: 88px;
  width: 600px;
  font: normal normal normal normal 16px / normal Times;
  margin: 0px auto;
}

.profile-nav {
  display: flex;
  justify-content: space-between;
  height: 77px;
  width: 936px;
  font: normal normal normal normal 16px / normal Times;
  margin: 0px auto;
}

.logo-header {
  color: rgb(45, 101, 153);
  float: left;
  height: 23px;
  width: 81.9375px;
  font: normal normal normal normal 18px / normal 'Lobster Two';
  margin: 0px;
  padding: 30px 0px;
}

.logo {
  color: rgb(45, 101, 153);
  font: normal normal normal normal 26px / normal 'Lobster Two';
}

.search {
  float: left;
  height: 28px;
  width: 192px;
  position: relative;
  font: normal normal normal normal 16px / normal Times;
  margin: 0px 0px 0px 120px;
  padding: 30px 0px;
}

.search-field {
  box-sizing: content-box;
  height: 16px;
  text-align: center;
  width: 180px;
  background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 15px 15px 15px 15px;
  font: normal normal normal normal 14px / normal Helvetica;
  padding: 5px;
}

.search-field:focus {
  outline: 0;
  background-color: #FFFFFF;
  text-align: left;
}

.results-outer-box {
  box-shadow: rgba(0, 0, 0, 0.129412) 0px 0px 5px 0px;
  box-sizing: border-box;
  height: 364px;
  min-height: auto;
  min-width: auto;
  position: absolute;
  right: -13%;
  top: 77%;
  width: 243px;
  z-index: 2;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 1px solid rgb(237, 238, 238);
  border-radius: 3px 3px 3px 3px;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  font: normal normal normal normal 16px / 16px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.results-outer-box:after {
  content: "";
  display: block;
  left: 110px;
  position: absolute;
  top: -10px;
  z-index: 3;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid #edeeee;
  border-left: 10px solid rgba(0, 0, 0, 0);
  font: normal normal normal normal 16px / 16px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.results-inner-box {
  box-sizing: border-box;
  display: flex;
  height: 362px;
  max-height: 362px;
  position: relative;
  width: 241px;
  border: 0px solid rgb(0, 0, 0);
  flex: 0 0 auto;
  flex-flow: column nowrap;
  font: normal normal normal normal 16px / 16px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  overflow: auto;
}

.results-inner-box .follow {
  position: absolute;
  bottom: 1px;
  left: 36px;
}

.follow-box {
  position: relative;
}

.user-result-link {
  color: rgb(18, 86, 136);
  display: flex;
  height: 50px;
  text-decoration: none;
  width: auto;
  align-items: center;
  background: white none repeat scroll 0% 0% / auto padding-box border-box;
  border-bottom: 1px solid rgb(237, 238, 239);
  flex: 0 0 auto;
  font: normal normal normal normal 16px / 16px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  outline: rgb(18, 86, 136) none 0px;
  padding: 8px 14px;
}

.user-result-link:hover {
  background: #FAFAFA;
}

.user-result-box {
  box-sizing: border-box;
  color: rgb(18, 86, 136);
  height: 48px;
  min-height: auto;
  min-width: auto;
  position: relative;
  white-space: nowrap;
  width: 198px;
  align-self: center;
  border: 0px solid rgb(0, 0, 0);
  flex: 0 0 auto;
  flex-flow: column nowrap;
  font: normal normal normal normal 16px / 16px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  outline: rgb(18, 86, 136) none 0px;
  padding: 0px 0px 5px;
}

.user-result-pic {
  color: rgb(18, 86, 136);
  display: block;
  float: left;
  height: 30px;
  white-space: nowrap;
  width: 30px;
  border: 1px solid rgb(237, 238, 239);
  border-radius: 30px 30px 30px 30px;
  font: normal normal normal normal 16px / 16px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 7px 10px 0px 0px;
  outline: rgb(18, 86, 136) none 0px;
}

.user-result-username-box {
  box-sizing: border-box;
  color: rgb(7, 8, 9);
  display: flex;
  height: 19px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 156px;
  border: 0px solid rgb(0, 0, 0);
  flex: 0 0 auto;
  font: normal normal normal normal 14px / 14px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 3px 0px 0px;
  outline: rgb(7, 8, 9) none 0px;
  overflow: hidden;
}

.user-result-username {
  color: rgb(7, 8, 9);
  display: block;
  height: 24px;
  max-width: 140px;
  min-height: auto;
  min-width: auto;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  border: 0px none rgb(7, 8, 9);
  font: normal normal normal normal 14px / 22px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0px 0px -4px;
  outline: rgb(7, 8, 9) none 0px;
  overflow: hidden;
}

.user-result-name {
  display: flex;
  box-sizing: border-box;
  color: #c9c8cd;
  height: 22px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 156px;
  flex-flow: column nowrap;
  outline: #c9c8cd none 0px;
}

.nav-right {
  color: rgb(18, 86, 136);
  cursor: default;
  float: right;
  height: 24px;
  width: 120px;
  border: 0px none rgb(18, 86, 136);
  font: normal normal bold normal 12px / normal Montserrat;
  outline: rgb(18, 86, 136) none 0px;
  padding: 30px 0px;
}


.nav-right:after {
  clear: both;
  color: rgb(18, 86, 136);
  content: '';
  cursor: default;
  display: block;
  width: 78.1094px;
  border: 0px none rgb(18, 86, 136);
  font: normal normal bold normal 12px / normal Montserrat;
  outline: rgb(18, 86, 136) none 0px;
}

.header-profile-link {
  color: rgb(18, 86, 136);
  display: inline-block;
  float: left;
  height: 15px;
  text-decoration: none;
  position: relative;
  bottom: 24px;
  left: 24px;
  width: 34.1094px;
  border: 0px none rgb(18, 86, 136);
  font: normal normal bold normal 12px / normal Montserrat;
  margin: 5px 0px 0px 20px;
  outline: rgb(18, 86, 136) none 0px;
  line-height: 18px;
  font-weight: 600;
  font-size: 15px;
}

.header-profile-link:hover {
  color: #a6d2f3;
}

.num-likes {
  color: rgb(75, 79, 84);
  display: block;
  height: 17px;
  text-align: left;
  width: 558px;
  border: 0px none rgb(75, 79, 84);
  font: normal normal bold normal 15px / normal Helvetica;
  margin: 0px 0px 10px;
  outline: rgb(75, 79, 84) none 0px;
}

.comment-form-div {
  height: 70px;
  text-align: left;
  width: 558px;
  font: normal normal normal normal 15px / normal Helvetica;
}

.comment-form-div:after {
  clear: both;
  content: '';
  display: block;
  text-align: left;
  width: 558px;
  font: normal normal normal normal 15px / normal Helvetica;
}

.comment-form {
  height: 17px;
  text-align: left;
  width: 400px;
  font: normal normal normal normal 15px / normal Helvetica;
  margin: 0px;
}

.comment-field {
  position: relative;
  left: 48px;
  bottom: 43px;
  box-sizing: content-box;
  height: 17px;
  text-align: left;
  width: 400px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(0, 0, 0);
  font: normal normal normal normal 15px / normal Helvetica;
  padding: 0px;
}

.comment-field:focus {
  outline: 0;
}

.like-button {
  box-sizing: content-box;
  color: rgb(189, 189, 189);
  display: block;
  float: left;
  height: 32px;
  text-align: left;
  width: 32px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(189, 189, 189);
  font: normal normal normal normal 15px / normal Helvetica;
  margin: 0px 10px 0px 0px;
  outline: rgb(189, 189, 189) none 0px;
  padding: 20px 0px;
}

.delete-comment {
  color: rgb(165, 167, 170);
  cursor: pointer;
  display: block;
  float: right;
  position: relative;
  right: 23px;
  height: 15px;
  overflow-wrap: break-word;
  width: 15px;
  word-wrap: break-word;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(165, 167, 170);
  font: normal normal normal normal 15px / 18px;
  margin: 0px 0px 0px 10px;
  outline: rgb(165, 167, 170) none 0px;
  overflow: hidden;
  padding: 0px;
}

.delete-comment:before {
  color: rgb(165, 167, 170);
  content: '✕';
  cursor: pointer;
  display: block;
  height: 18px;
  overflow-wrap: break-word;
  width: 15px;
  word-wrap: break-word;
  align-self: flex-start;
  border: 0px none rgb(165, 167, 170);
  font: normal normal normal normal 15px / 18px;
  list-style: none outside none;
}

.logout {
  color: rgb(18, 86, 136);
  display: inline-block;
  float: left;
  height: 15px;
  text-decoration: none;
  position: relative;
  bottom: 24px;
  left: 24px;
  width: inherit;
  border: 0px none rgb(18, 86, 136);
  font: normal normal bold normal 12px / normal Montserrat;
  margin: 5px 0px 0px 20px;
  outline: rgb(18, 86, 136) none 0px;
  line-height: 18px;
  font-weight: 600;
  font-size: 15px;
}

.logout:hover {
  color: #83c1ef;
}

.user-show-background {
  background-color: #FAFAFA;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#root {
  background-color: #FAFAFA;
}

.upload-picture-div {
  position: relative;
  right: 43px;
}

.delete-post {
  background-color: transparent;
  background-image: url("https://instagramstatic-a.akamaihd.net/h1/sprites/core/6f2033.png");
  background-repeat: no-repeat;
  background-position: -494px -373px;
  border: none;
  height: 44px;
  width: 44px;
  position: absolute;
  bottom: 10px;
  right: 0px;
}

.delete-post:hover {
  cursor: pointer;
}

.delete-post-div {
  position: relative;
}
