.post_header__header___2Z7ol { 
	color: #125688;
}

.post_header__header___2Z7ol a, a:visited {
	color: #125688;
}

.post_header__username___2U0BG {
  font-family: Montserrat;
  color: #125688;
  left: 5%;
  top: 22px;
}

.post_header__timestamp___1pII9 {
  font-family: Helvetica;
  color: #a5a7aa;
  left: 93%;
  top: -1px;
  height: 20px;
  width: 20px;
}.comment_item__item___XS2zh {
  margin: 10px 0px;
}

.comment_item__username___2MW5N {
  padding: 0px 10px 0px 0px;
}

.comment_item__delete___3MPsr:before {
  color: rgb(165, 167, 170);
  content: '\2715';
  cursor: pointer;
}.comment_table__table___3vbvG {
	width:558px;
	border-bottom: 1px solid rgb(238, 238, 238);
  padding: 0px 0px 20px; 
}

.comment_table__user-show___2P0IP {
  min-height: 26.15em;
}.num_likes__likes___34e9o {
	color: rgb(75, 79, 84)
}.comment_form__box___1zUuW {
	height: 70px;
}

.comment_form__field___Edi1_ {
	width: 110%;
	left: 48px;
  bottom: 43px;
}.delete_button__delete-post___34K81 {
  background-image: url("https://instagramstatic-a.akamaihd.net/h1/sprites/core/6f2033.png");
  background-position: -494px -373px;
  height: 44px;
  width: 44px;
  bottom: 10px;
  right: 0px;
}
.like_button__button___mqqc_ {
  box-sizing: content-box;
  float: left;
  height: 32px;
  width: 32px;
  padding: 20px 0px;
}
.comment_box__box___3f43b {
	font-family: Montserrat;
  padding: 20px 20px 0px;
}.picture__picture___2Wl23 {
  border-top: 1px solid #eeefef;
  border-bottom: 1px solid #eeefef;
}

.picture__picture___2Wl23 > img {
  margin-bottom: -4px;
}.post__post___3RdlJ {
  border: 1px solid #edeeee;
  margin-bottom: 60px;
  margin-left: -1px;
  margin-right: -1px;
}.search_bar__bar___1rED4 {
	height: 28px;
	width: 192px;
	margin: 0px 0px 0px 120px;
	padding: 30px 0px;
}

.search_bar__field___2_GoX {
  width: 180px;
	border: 1px solid rgb(238, 238, 238);
	border-radius: 15px 15px 15px 15px;
}

.search_bar__field___2_GoX:focus {
  outline: 0;
  background-color: #FFFFFF;
  text-align: left;
}

.search_bar__outer-box___1ln7a {
  height: 364px;
  right: -13%;
  top: 110%;
  width: 243px;
}

.search_bar__outer-box___1ln7a:after {
  content: "";
  left: 110px;
  position: absolute;
  top: -10px;
  z-index: 3;
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid #edeeee;
  border-left: 10px solid rgba(0, 0, 0, 0);
}

.search_bar__inner-box___1z_42 .search_bar__follow___2GNn7 {
  position: absolute;
  bottom: 1px;
  left: 36px;
}

.search_bar__link___2TiHR {
	height: 50px;
  padding: 8px 14px;
}

.search_bar__link___2TiHR:hover {
	background-color: #FAFAFA;
}

.search_bar__result-box___3EnEQ {
	height: 48px;
  width: 198px;
  align-self: center;
  flex: 0 0 auto;
  flex-flow: column nowrap;
}

.search_bar__user-pic___DjL_I {
	height: 30px;
  width: 30px;
  border-radius: 30px 30px 30px 30px;
  margin: 7px 10px 0px 0px;
}.upload_picture_button__box___vs0qu {
	right: 43px;
}.header_profile_link__link___1Qcva {
	bottom: 24px;
  left: 24px;
  margin: 5px 0px 0px 20px;
}

.header_profile_link__link___1Qcva:hover {
  color: #a6d2f3;
}.nav_bar__profile___Fb7_x {
  height: 77px;
  width: 936px;
  margin: 0px auto;
}

.nav_bar__logo-header___1qxE6 {
  height: 23px;
  width: 81.9375px;
  padding: 30px 0px;
}

.nav_bar__right___2XDa3 {
  width: 120px;
}.index__index___1sqSh {
	width: 600px;
  top: 77px;
  padding-top: 60px;
}.logout_link__link___2NTQ1 {
  bottom: 24px;
  left: 24px;
  margin: 5px 0px 0px 20px;
}

.logout_link__link___2NTQ1:hover {
  color: #83c1ef;
}
.user_show__picture-grid___3lhM_ > div {
  border: 1px solid #eeefef;
  margin-bottom: 28px;
}
/*# sourceMappingURL=styles.css.map*/