// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.picture-grid {
  display: flex;
  height: 100%;
  width: 936px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.picture-grid > div {
  border: 1px solid #eeefef;
  margin-bottom: 28px;
}

.nav-header {
  width: 100%;
}
