// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-picture-box {
    box-sizing: border-box;
    display: flex;
    height: 138px;
    position: relative;
    width: 291.672px;
    flex: 1 0 0px;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0px 30px 0px 0px;
}

.profile-picture-square {
    box-sizing: border-box;
    height: 152px;
    position: relative;
    width: 152px;
    background: rgb(251, 251, 251) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(204, 207, 208);
    border-radius: 50% 50% 50% 50%;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: -7px 69.8281px;
    overflow: hidden;
}

.change-profile-picture {
    cursor: pointer;
    height: 150px;
    width: 150px;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 11px / normal proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 0px;
}

.change-profile-picture > img {
    cursor: pointer;
    display: block;
    height: 150px;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 150px;
    font: normal normal normal normal 11px / normal proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.profile-stats-box {
    box-sizing: border-box;
    color: rgb(75, 79, 84);
    display: flex;
    height: 138px;
    position: relative;
    width: 613.328px;
    flex: 2 0 30px;
    flex-flow: column nowrap;
    font: normal normal normal normal 16px / 16px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    outline: rgb(75, 79, 84) none 0px;
}

.profile-header-name {
    box-sizing: border-box;
    color: rgb(75, 79, 84);
    display: flex;
    height: 40px;
    position: relative;
    width: 613.328px;
    align-items: center;
    flex: 0 0 auto;
    font: normal normal normal normal 16px / 16px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    outline: rgb(75, 79, 84) none 0px;
}

.profile-header-header {
    color: rgb(75, 79, 84);
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    align-self: center;
    border: 0px none rgb(75, 79, 84);
    font: normal normal 300 normal 34px / 40px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0px;
    outline: rgb(75, 79, 84) none 0px;
    overflow: hidden;
}

.follow {
    color: rgb(18, 86, 136);
    display: inline-block;
    height: 31px;
    text-decoration: none;
    width: 112.156px;
    align-self: center;
    border: 0px none rgb(18, 86, 136);
    flex: 0 0 auto;
    font: normal normal normal normal 16px / 16px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 20px;
    outline: rgb(18, 86, 136) none 0px;
}

.follow-button {
  color: rgb(64, 144, 219);
  cursor: pointer;
  height: 31px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 90.4062px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 1px solid rgb(64, 144, 219);
  border-radius: 3px 3px 3px 3px;
  font: normal normal 600 normal 14px / 29px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  outline: rgb(64, 144, 219) none 0px;
  overflow: hidden;
  padding: 0px 11px;
}

.unfollow-button {
  color: rgb(255, 255, 255);
  cursor: pointer;
  height: 31px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 114.156px;
  background: rgb(102, 189, 43) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 1px solid rgb(102, 189, 43);
  border-radius: 3px 3px 3px 3px;
  font: normal normal 600 normal 14px / 29px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  outline: rgb(255, 255, 255) none 0px;
  overflow: hidden;
  padding: 0px 11px;
}

.profile-stats-name {
    box-sizing: border-box;
    color: rgb(75, 79, 84);
    height: 24px;
    position: relative;
    width: 613.328px;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    font: normal normal normal normal 17px / 24px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 14px 0px 0px;
    outline: rgb(75, 79, 84) none 0px;
}

.profile-stats-name-header {
    color: rgb(75, 79, 84);
    display: inline;
    height: auto;
    width: auto;
    border: 0px none rgb(75, 79, 84);
    font: normal normal 600 normal 17px / 24px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0px;
    outline: rgb(75, 79, 84) none 0px;
}

.name-span {
    color: rgb(75, 79, 84);
    border: 0px none rgb(75, 79, 84);
    font: normal normal normal normal 17px / 24px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    outline: rgb(75, 79, 84) none 0px;
}

.profile-stats-ul {
    color: rgb(75, 79, 84);
    display: flex;
    height: 17px;
    width: 613.328px;
    border: 0px none rgb(75, 79, 84);
    font: normal normal normal normal 16px / 16px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 17px 0px 0px;
    outline: rgb(75, 79, 84) none 0px;
    padding: 0px;
}

.post-count-li {
    color: rgb(75, 79, 84);
    height: 17px;
    width: 71.3594px;
    border: 0px none rgb(75, 79, 84);
    font: normal normal normal normal 17px / 17px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 40px 0px 0px;
    outline: rgb(75, 79, 84) none 0px;
}

.profile-span-1 {
    color: rgb(75, 79, 84);
    text-align: left;
    border: 0px none rgb(75, 79, 84);
    font: normal normal normal normal 17px / 17px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 84) none 0px;
}

.profile-span-2 {
    color: rgb(52, 55, 59);
    text-align: left;
    border: 0px none rgb(52, 55, 59);
    font: normal normal 600 normal 17px / 17px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(52, 55, 59) none 0px;
}

.follower-count-li {
    color: rgb(75, 79, 84);
    height: 17px;
    width: 101.594px;
    border: 0px none rgb(75, 79, 84);
    font: normal normal normal normal 17px / 17px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 40px 0px 0px;
    outline: rgb(75, 79, 84) none 0px;
}

.profile-span-3 {
    color: rgb(75, 79, 84);
    text-align: left;
    border: 0px none rgb(75, 79, 84);
    font: normal normal normal normal 17px / 17px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 84) none 0px;
}

.follower-count-li {
    color: rgb(75, 79, 84);
    height: 17px;
    width: 98.5312px;
    border: 0px none rgb(75, 79, 84);
    font: normal normal normal normal 17px / 17px proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 84) none 0px;
}
